[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask-sqlalchemy = "*"
flask = "*"
alembic = "*"
autopep8 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pytest-cov = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.11"
